[Unit]
Description=bLEDsport
After=network.target

[Service]
ExecStart=/home/recurse/.bun/bin/bun /home/recurse/bledsport/bLEDsport-game-server/server.js --gamepad innext-controller.json --gamepad 8bitdo-controller.json
Restart=always
User=recurse
WorkingDirectory=/home/recurse/bledsport/bLEDsport-game-server
Environment=PATH=/usr/local/bin:/usr/bin:/bin
Environment=XDG_RUNTIME_DIR=/run/user/1001

[Install]
WantedBy=multi-user.target
